@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.ttf") format('truetype');
}

body {
    font-family: "Nunito", sans-serif;
}

.container {
    margin: 2em;
}

button {
    padding: 1em 1.5em 1em 1.5em;
}
