@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body {
    font-family: "Nunito", sans-serif;
}

.container {
    margin: 2em;
}

button {
    padding: 1em 1.5em 1em 1.5em;
}
